.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 420px;
  align-items: center;
  position: relative;
  overflow: hidden;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button {
    opacity: 0.5;
    width: 50%;
    border: 0ch;
    position: absolute;
    bottom: 0;
    transform: translateY(80px);
    transition: all 0.3s ease-in;
  }

  &:hover {
    .custom-button {
      opacity: 1;
      transform: translateY(-80px);
      display: flex;
    }
  }

  .collection-footer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: white;
    z-index: 10;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}
