* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  color: white;
  background-color: black;
}

::selection {
  color: white;
  background-color: black;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}
